<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.toto.myapplication">

    <!-- Apisense Manifest permissions -->
    <!-- If you need to communicate with the apisense server (most likely the case): -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- If you intend to use the WifiSting: -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <!-- If you intend to use the LocationSting: -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_UPDATES" />

    <!-- If you intend to use the CallSting: -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- If you intend to retrieve the foreground application with SystemSting: -->
    <!-- under API 22. -->
    <!--
    <uses-permission android:name="android.permission.GET_TASKS"/>
    -->
    <!-- from API 22. -->
    <!-- Ne marche pas...
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS" tools:ignore="ProtectedPermissions"/>
    -->

    <!-- Apisense Manifest permissions -->



    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Apisense Manifest permissions -->
        <!-- applicationId is the package of your application,
        this variable is automatically set when building with gradle -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.APSFileProvider"
            android:exported="false"
            android:grantUriPermissions="true" >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/aps_media_path"
                />
        </provider>
        <!-- If you intend to monitor the current application on foreground with SystemSting: -->
        <!-- Declare an AccessibilityService to monitor the current foreground App -->
        <!-- Inutile tant que le dossier res/xml/accessibility_service_config.xml n'existe pas
        <service
            android:label="@string/accessibility_service_name"
            android:name="io.apisense.sting.phone.system.WindowChangeDetectingService"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService"/>
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config"/>
        </service>
        -->

        <!-- Apisense Manifest permissions -->

        <activity android:name=".MainActivity" android:screenOrientation="portrait">
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>